@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #9bd1e561;
    display: flex;
    gap: 100px;
    align-items: center;
    margin-bottom: 50px;
}

header h1{
    font-family: "Abel", serif;
    text-transform: uppercase;
}

.imagem-header img{
    width: 150px;
}

.main-index .form{
    background-color: #6A8EAE;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 20px;
    border-radius: 12px;
}

.form h1{
    font-family: "Abel", serif;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-size: 50px;
}

.form a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: "Abel", serif;
}

.form-input{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.form-input label{
    font-size: 20px;
    font-size: "Abel", serif;
}

.form-input input{
    border-radius: 15px;
    border: none;
    font-size: 18px;
    width: 350px;
    outline: none;
    padding: 15px;
    font-family: "Handjet", serif;
}

.form-input select{
    width: 350px;
    border: none;
    padding: 15px;
    border-radius: 15px;
    outline: none;
    font-family: "Handjet", serif;
    font-size: 18px;
}

.formCar{
    background-color: #6A8EAE;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 20px;
    border-radius: 12px;
}

.formCar h1{
    color: white;
}

.formLogin {
    background-color: #6A8EAE;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 20px;
    border-radius: 12px;
}

.formLogin h1 {
    color: white;
}

.button-form{
    width: 110px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #9bd1e5;
    color: #515151;
    font-size: 20px;
    font-family: "Abel";
    text-transform: uppercase;
}

table{
    background-color: #9bd1e5;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

th, td{
    border: 2px solid black;
    padding: 50px;
    width: 200px;
    font-family: "Abel", serif;
    color: black;
    font-weight: 900;
}

th{
    background-color: #f0f0f0;
    font-size: 30px;
    font-weight: bold;
    font-family: "Abel", serif;
}

.btn-delete-car{
    padding: 3px;
    margin: 10px;
    width: 140px;
    background-color: #D02F52;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.btn-edit-car{
    padding: 3px;
    margin: 10px;
    width: 140px;
    background-color: #57A773;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.link-car-register{
    border: 1px solid black;
    background-color: #9bd1e5;
    color: black;
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Abel", serif;
    font-size: 25px;
}

.main-listagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
