@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #9bd1e561;
    display: flex;
    align-items: center;
}

header h1{
    font-family: "Abel", serif;
    text-transform: uppercase;
    text-align: center;
}

.imagem-header img{
    width: 200px;
}



.main-index div{
    background-color: #9bd1e561;
    display: flex;
    justify-content: center;
}